.container {
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 10vh;
    width: 90%;
    font-family: $font;
    color: $white;
    font-weight: 700;
    z-index: 2;
    @media (min-width: 768px) {
      width: 75%;
    }
    .space-between {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: $white;
      .logo {
        cursor: pointer;
        font-size: 1.4rem;
        text-decoration: none;
        user-select: none;
      }
    }
    .nav-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
        @media (min-width: 768px) {
          padding: 0 16px;
        }
        &:last-child {
          padding: 0 0 0 8px;
          @media (min-width: 768px) {
            padding: 0 16px;
          }
        }

        a {
          display: inline-block;
          font-family: $font;
          color: $white;
          text-decoration: none;
          font-weight: 700;
          font-size: 0.875rem;
          @media (min-width: 768px) {
            font-size: 1rem;
          }

          svg {
            font-size: 1.75rem;
          }

          .header-hidden-text {
            // visible-hidden class from A11y-101
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
            &:focus {
              clip: auto;
              height: auto;
              overflow: auto;
              position: absolute;
              width: auto;
            }
          }
        }
      }
    }
  }
  .main-home {
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    color: $white;
    font-family: $font;
    @media (min-width: 768px) {
      width: 75%;
    }
    @media (max-height: 800px) {
      min-height: 75vh;
      padding: 3rem 0;
    }
    .cta {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 2rem;
        margin-right: 1rem;

        @media (min-width: 768px) {
          font-size: 4rem;
          justify-content: center;
        }
        @media (min-width: 1024px) {
          font-size: 5rem;
        }
        @media (min-width: 1280px) {
          font-size: 6rem;
          margin-right: 2rem;
        }
        @media (min-width: 1536px) {
          font-size: 8rem;
          margin-right: 8rem;
        }

        .playful {
          transition: all 0.4s cubic-bezier(0.15, 0.75, 0.45, 0.95) 0s;
          animation: 10s ease 0s infinite alternate none running rainbow;
        }
      }
      .peep-image {
        width: 100px;
        @media (min-width: 768px) {
          width: 200px;
        }
        @media (min-width: 1280px) {
          width: 300px;
        }
      }
    }

    .job-title {
      font-size: 0.9rem;
      font-weight: 400;
      @media (min-width: 768px) {
        font-size: 1.2rem;
      }
      @media (min-width: 1536px) {
        font-size: 1.4rem;
      }
    }
    .scroll-indicator-container {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -80%);
      @media (min-width: 768px) {
        top: 95%;
        transform: translate(-50%, -95%);
      }

      .scroll-indicator {
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 700;
        font-family: $font;
        span {
          margin: 0.5rem 0;
        }
        &:focus {
          outline: none;
        }
        @media (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
  .project-container {
    position: relative;
    min-height: 100dvh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @media (min-width: 768px) {
      overflow: unset;
      -webkit-overflow-scrolling: unset;
    }

    .project {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100vh;
      .project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width: 768px) {
          flex-direction: row;
        }

        .project-info {
          font-family: $font;
          width: 75%;
          text-align: left;
          color: $white;
          margin: 0 32px;
          @media (min-width: 768px) {
            width: 300px;
          }
          .tools-list {
            columns: 2;
            padding-left: 1.5rem;
            line-height: 20px;
            margin-top: 8px;
            margin-bottom: 16px;
            font-family: $font;
            @media (min-width: 768px) {
              margin-bottom: 24px;
            }
            li {
              font-size: 0.875rem;
              @media (max-height: 750px) {
                font-size: 0.875rem;
              }
            }
          }
          a {
            display: block;
            color: $white;
            text-decoration: none;
            h2 {
              cursor: pointer;
              font-size: 1.5rem;
              margin: 0;
              &:hover {
                transition: all 0.4s cubic-bezier(0.15, 0.75, 0.45, 0.95) 0s;
                animation: 10s ease 0s infinite alternate none running rainbow;
              }
              @media (min-width: 768px) {
                font-size: 2rem;
              }
              @media (max-height: 800px) {
                font-size: 1.6rem;
              }
            }
          }
          h3 {
            font-size: 1rem;
            margin-top: 24px;
            margin-bottom: 0;
            @media (min-width: 768px) {
              font-size: 1.25rem;
            }
          }
          p {
            margin: 1rem 0 0.5rem 0;
            line-height: 20px;
            font-size: 0.875rem;
            font-weight: 300;
            @media (min-width: 768px) {
              font-size: 1rem;
              line-height: 24px;
            }
            @media (max-height: 800px) {
              font-size: 0.875rem;
              line-height: 20px;
            }
          }
          .project-read-more {
            display: flex;
            align-items: center;
            background: none;
            outline: none;
            border: none;
            color: white;
            font-family: $font;
            font-weight: bold;
            margin: 0;
            padding: 0;
            cursor: pointer;
            svg {
              transition: transform 0.3s ease;
              display: block;
              margin-top: 0.1rem;
              margin-left: 0.25rem;
            }
            &:hover {
              svg {
                transform: translateX(2px);
              }
            }
          }
          .project-btns {
            display: flex;
            gap: 1rem;
            justify-content: center;
            @media (min-width: 768px) {
              justify-content: start;
            }
            .project-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              padding: 0;
              cursor: pointer;
              width: 100%;
              height: 50px;
              border-radius: 15px;
              border: none;
              outline: none;
              color: $black;
              background: snow;
              font-weight: 700;
              font-family: $font;
              font-size: 0.875rem;
              @media (min-width: 768px) {
                font-size: 1rem;
              }
            }
          }
        }
        a {
          display: block;
          width: 100%;
          @media (min-width: 768px) {
            width: auto;
          }
          .project-image {
            display: block;
            cursor: pointer;
            aspect-ratio: 16 / 9;
            width: 75%;
            margin: 0 auto 1rem auto;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
            transition: box-shadow 0.3s ease;
            box-shadow: 0 2.8px 2.2px rgba(211, 211, 211, 0.02),
              0 6.7px 5.3px rgba(211, 211, 211, 0.028),
              0 12.5px 10px rgba(211, 211, 211, 0.035),
              0 22.3px 17.9px rgba(211, 211, 211, 0.042),
              0 41.8px 33.4px rgba(211, 211, 211, 0.05),
              0 100px 80px rgba(211, 211, 211, 0.07);
            &:hover {
              box-shadow: 0 2.8px 2.2px rgba(256, 256, 256, 0.02),
                0 6.7px 5.3px rgba(256, 256, 256, 0.028),
                0 12.5px 10px rgba(256, 256, 256, 0.035),
                0 22.3px 17.9px rgba(256, 256, 256, 0.042),
                0 41.8px 33.4px rgba(256, 256, 256, 0.05),
                0 100px 80px rgba(256, 256, 256, 0.07);
            }
            @media (min-width: 768px) {
              width: 400px;
            }
            @media (min-width: 1024px) {
              width: 500px;
              margin: 0 2rem;
            }
            @media (min-width: 1280px) {
              width: 700px;
            }
          }
        }
      }
    }
    progress[value] {
      display: none;
      -webkit-appearance: none;
      appearance: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15px;
      border: none;
      background-color: #eee;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
      @media (min-width: 768px) {
        display: block;
      }
    }
    progress[value]::-webkit-progress-bar {
      background-color: #eee;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    progress[value]::-webkit-progress-value {
      border-radius: 2px;
      background-color: $black;
    }
    progress[value]::-moz-progress-bar {
      border-radius: 2px;
      background-color: $black;
    }
  }

  footer {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font;
    h2 {
      color: $white;
      font-size: 2.5rem;
      @media (min-width: 768px) {
        font-size: 4rem;
      }
    }
    .footer-links {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        padding: 0 16px;
        @media (min-width: 768px) {
          padding: 0 32px;
        }
        a {
          display: inline-block;
          font-family: $font;
          color: $white;
          text-decoration: none;
          font-weight: 700;
          font-size: 1rem;
          @media (min-width: 768px) {
            font-size: 1.5rem;
          }

          svg {
            font-size: 1.5rem;
            @media (min-width: 768px) {
              font-size: 2rem;
            }
          }

          .footer-hidden-text {
            // visible-hidden class from A11y-101
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
            &:focus {
              clip: auto;
              height: auto;
              overflow: auto;
              position: absolute;
              width: auto;
            }
          }
        }
      }
    }
  }
}

// Rainbow text
@keyframes rainbow {
  0% {
    color: rgb(240, 77, 255);
  }
  25% {
    color: rgb(255, 77, 77);
  }
  50% {
    color: rgb(255, 197, 77);
  }
  75% {
    color: rgb(106, 237, 118);
  }
  100% {
    color: rgb(0, 153, 255);
  }
}
