.intro-overlay {
  background: $white;
  position: fixed;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  z-index: 3;
  .ball {
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: $black;
    margin: 0 auto;
    @media (max-width: 967px) {
      width: 50px;
      height: 50px;
    }
  }
}
