.container {
  .project-main {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: $font;
    margin: 8rem auto 6rem auto;
    .main-image {
      width: 75%;
      max-width: 700px;
      border-radius: 20px;
      height: 450px;
      object-fit: cover;
      object-position: center;
      @media (max-width: 1280px) {
        width: 500px;
        height: 280px;
      }
      @media (max-width: 967px) {
        width: 350px;
        height: 200px;
        margin: 0 0 1rem 0;
      }
      @media (max-width: 700px) {
        width: 250px;
        height: 140px;
      }
    }
    .text-content {
      display: grid;
      place-items: center;
      a {
        text-decoration: none;
        color: white;
      }

      h1 {
        text-align: center;
        font-size: 6rem;
        @media (max-width: 768px) {
          font-size: 2.5rem;
        }
      }
      p {
        line-height: 40px;
        font-size: 1.375rem;
        width: 100%;
        max-width: 600px;
        @media (max-width: 976px) {
          font-size: 1rem;
        }
      }
    }
    .comparison-container {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      flex-wrap: wrap;
      // display: grid;
      // place-items: center;
      // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      // gap: 2rem;
      margin: 2rem auto;
      .image-compare {
        padding: 1rem;
        margin: 4rem 0;
        @media (max-width: 976px) {
          padding: 0;
          margin: 1rem 0;
        }
        img {
          width: 75%;
          height: min-content;
          border-radius: 20px;
          @media (max-width: 976px) {
            width: 100%;
          }
        }
      }
    }
    .page-navigation {
      button {
        position: fixed;
        top: 50%;
        cursor: pointer;
        margin: 0 1rem;
        width: 125px;
        height: 50px;
        border-radius: 15px;
        border: none;
        outline: none;
        background: snow;
        font-weight: 700;
        font-family: $font;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 967px) {
          top: unset;
          bottom: 5%;
          width: 100px;
          font-size: 0.875rem;
        }
      }
      .previous-btn {
        left: 5%;

        &:disabled {
          filter: brightness(0.5);
        }
        .prev-arrow {
          margin-right: 0.5rem;
          @media (max-width: 967px) {
            margin-right: 0.375rem;
          }
        }
      }
      .next-btn {
        right: 5%;

        &:disabled {
          filter: brightness(0.5);
        }

        .next-arrow {
          margin-left: 0.5rem;
          @media (max-width: 967px) {
            margin-left: 0.375rem;
          }
        }
      }
    }
    .bottom-links {
      .project-links {
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        gap: 1rem;
        .project-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: $black;
          padding: 0;
          cursor: pointer;
          width: 150px;
          height: 50px;
          border-radius: 15px;
          border: none;
          outline: none;
          background: snow;
          font-weight: 700;
          font-family: $font;
          font-size: 1rem;

          @media (max-width: 967px) {
            width: 100px;
            font-size: 0.875rem;
          }
        }
      }

      .project-back {
        text-align: center;
        color: $white;
        text-decoration: none;
        font-family: $font;
        margin: 2rem auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          margin-right: 4px;
          transition: transform 0.3s ease;
        }
        &:hover {
          svg {
            transform: translateX(-2px);
          }
        }
      }
    }
  }
}
