@import "./variables";
@import "./home";
@import "./intro-overlay";
@import "./project";
@import "./post";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  overflow-y: hidden; // No scrolling during intro animation
  background: $black;
}

* {
  &::selection {
    color: black;
    background-color: white;
  }
}
