@import "./variables";
@import "./home";
@import "./introOverlay";
@import "./project";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

body,
html {
  padding: 0;
  margin: 0;
  background: $black;
}

body {
  // No scrolling during intro animation
  overflow-y: hidden;
}

* {
  &::selection {
    color: black;
    background-color: white;
  }
}
