@import "./variables";
@import "./reset";
@import "./home";
@import "./intro-overlay";
@import "./project";
@import "./post";

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  overflow-y: hidden; // No scrolling during intro animation
  background: $black;
}

* {
  &::selection {
    color: black;
    background-color: white;
  }
}
