@import "./reset";

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  overflow-y: hidden; // No scrolling during intro animation
  background: #121212;
}

* {
  &::selection {
    color: black;
    background-color: white;
  }
}
