@import "./variables.module.scss";

.nav {
  // position: absolute;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  font-family: $font;
  color: $white;
  font-weight: 700;
  z-index: 2;
  @media (min-width: 768px) {
    width: 75%;
  }
  .spaceBetween {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: $white;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    user-select: none;
  }
  .navList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      @media (min-width: 768px) {
        padding: 0 16px;
      }
      &:last-child {
        padding: 0 0 0 8px;
        @media (min-width: 768px) {
          padding: 0 16px;
        }
      }

      a {
        display: inline-block;
        font-family: $font;
        color: $white;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.875rem;
        transition: 150ms transform ease;
        will-change: transform;
        @media (min-width: 768px) {
          font-size: 1rem;
        }
        &:hover {
          transform: scale(1.1);
        }
        &:focus {
          transform: scale(1.1);
        }
        &:active {
          transform: scale(0.9);
        }

        svg {
          font-size: 1.75rem;
        }
      }
    }
  }
}
