.container {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .home-nav {
    width: 100%;
    position: absolute;
    top: 50px;
    font-family: $font;
    color: $white;
    font-weight: 700;
    .space-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 32px;
    }
    .logo {
      font-size: 1.4rem;
    }
    .nav-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding: 0 32px;
        @media (max-width: 976px) {
          padding: 0 8px;
        }
        a {
          color: $white;
          text-decoration: none;
          @media (max-width: 976px) {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
  .main-home {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    margin: auto;
    color: $white;
    font-family: $font;
    @media (max-width: 967px) {
      width: 90%;
    }
    .title {
      font-size: 5rem;
      @media (max-width: 967px) {
        font-size: 2.5rem;
      }
      .playful {
        transition: all 0.4s cubic-bezier(0.15, 0.75, 0.45, 0.95) 0s;
        animation: 10s ease 0s infinite alternate none running rainbow;
      }
    }
    .job-title {
      font-size: 1.4rem;
      font-weight: 400;
      @media (max-width: 967px) {
        font-size: 0.9rem;
      }
    }
    .scroll-indicator {
      cursor: pointer;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -90%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-weight: 700;
        @media (max-width: 967px) {
          font-size: 0.875rem;
        }
      }
      @media (max-width: 967px) {
        top: 80%;
        transform: translate(-50%, -80%);
      }
    }
  }
  .project-container {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    .project-row {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 500%;
      height: 100%;
      display: flex;
      overflow: hidden;
      flex-wrap: nowrap;
      .project {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: 967px) {
          flex-direction: column;
        }
        .project-info {
          font-family: $font;
          width: 300px;
          text-align: left;
          color: $white;
          margin: 0 32px;
          @media (max-width: 967px) {
            width: 275px;
          }
          .tools-list {
            margin-top: 8px;
            font-family: $font;
            li {
              @media (max-width: 967px) {
                font-size: 0.875rem;
              }
            }
          }
          h3 {
            font-size: 2rem;
            margin: 0;
            @media (max-width: 967px) {
              font-size: 1.4rem;
            }
          }
          h4 {
            margin-bottom: 0;
          }
          p {
            margin: 1rem 0;
            line-height: 24px;
            font-weight: 300;
            @media (max-width: 967px) {
              font-size: 0.875rem;
              line-height: 20px;
            }
          }
          .project-btns {
            display: flex;
            @media (max-width: 967px) {
              justify-content: center;
            }
            .project-btn {
              cursor: pointer;
              margin-right: 15px;
              width: 125px;
              height: 50px;
              border-radius: 15px;
              border: none;
              outline: none;
              background: snow;
              font-weight: 700;
              font-family: $font;
              @media (max-width: 967px) {
                width: 100px;
              }
            }
            a {
              text-decoration: none;
              color: $white;
              margin: 0;
              padding: 0;
              .project-btn {
                @extend .project-btn;
              }
            }
          }
        }

        img {
          width: 800px;
          height: auto;
          border-radius: 20px;
          margin: 0 32px;
          @media (max-width: 967px) {
            width: 200px;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  footer {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font;
    h2 {
      color: $white;
      font-size: 4rem;
      @media (max-width: 967px) {
        font-size: 2.5rem;
      }
    }
    .footer-links {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        padding: 0 32px;
        a {
          font-family: $font;
          color: $white;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

@keyframes rainbow {
  0% {
    color: rgb(240, 77, 255);
  }
  25% {
    color: rgb(255, 77, 77);
  }
  50% {
    color: rgb(255, 197, 77);
  }
  75% {
    color: rgb(106, 237, 118);
  }
  100% {
    color: rgb(0, 153, 255);
  }
}
