.intro-overlay {
  background: $white;
  position: fixed;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  z-index: 8;
  display: grid;
  place-items: center;
  .ball {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: $black;
    margin: 0 auto;
    @media (max-width: 967px) {
      width: 50px;
      height: 50px;
    }
  }
}
