@import "./variables.module.scss";

.introOverlay {
  background: $white;
  position: fixed;
  min-height: 100dvh;
  width: 100%;
  z-index: 3;
  .ball {
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: $black;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}
