@import "./variables.module.scss";

.postContainer {
  color: $white;
  font-family: $font;
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  .postMain {
    width: 90%;
    margin: 4rem auto 8rem;
    @media (min-width: 768px) {
      width: 75%;
    }

    .textContent {
      display: grid;
      gap: 0.5rem;

      h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 2rem 0;
        @media (min-width: 1280px) {
          font-size: 3rem;
        }
      }

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        @media (min-width: 1280px) {
          font-size: 2rem;
        }
      }

      p {
        max-width: 65ch;
        line-height: 40px;
        font-size: 1rem;
        margin: 1rem 0;
        width: 100%;
        @media (min-width: 768px) {
          font-size: 1.25rem;
        }
      }

      img {
        max-width: 65ch;
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
      }

      a {
        color: $white;

        &:visited {
          color: grey;
        }
      }

      pre {
        max-width: 65ch;
        border-radius: 8px;
        padding: 1rem;
        code {
          font-family: monospace;
          font-size: 0.875rem;
          line-height: 1.25;
        }
      }
    }
  }
}
