.container {
  .project-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 10vh;
    width: 75%;
    font-family: $font;
    color: $white;
    font-weight: 700;
    z-index: 2;
    @media (max-width: 768px) {
      width: 90%;
    }
    .space-between {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      cursor: pointer;
      font-size: 1.4rem;
      user-select: none;
    }
    .nav-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding: 0 32px;
        @media (max-width: 976px) {
          padding: 0 8px;
        }
        a {
          display: inline-block;
          font-family: $font;
          color: $white;
          text-decoration: none;
          font-weight: 700;
          @media (max-width: 976px) {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
  .project-main {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: $font;
    margin: 8rem auto 4rem auto;
    .main-image {
      border-radius: 20px;
      width: 75%;
      max-width: 700px;
      border-radius: 20px;
      height: 450px;
      object-fit: cover;
      object-position: center;
      @media (max-width: 1300px) {
        width: 500px;
        height: 280px;
      }
      @media (max-width: 967px) {
        width: 350px;
        height: 200px;
        margin: 0 0 1rem 0;
      }
      @media (max-width: 700px) {
        width: 250px;
        height: 140px;
      }
    }
    .text-content {
      display: grid;
      place-items: center;

      h1 {
        text-align: center;
        font-size: 6rem;
        @media (max-width: 768px) {
          font-size: 2.5rem;
        }
      }
      p {
        line-height: 40px;
        font-size: 1.375rem;
        width: 100%;
        max-width: 600px;
        @media (max-width: 976px) {
          font-size: 1rem;
        }
      }
    }
    .comparison-container {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      flex-wrap: wrap;
      // display: grid;
      // place-items: center;
      // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      // gap: 2rem;
      margin: 2rem auto;
      .image-compare {
        padding: 1rem;
        margin: 4rem 0;
        @media (max-width: 976px) {
          padding: 0;
          margin: 1rem 0;
        }
        img {
          width: 75%;
          border-radius: 20px;
          @media (max-width: 976px) {
            width: 100%;
          }
        }
      }
    }
    .page-navigation {
      // margin: 2rem 0;
      // button {
      //   cursor: pointer;
      //   margin: 0 1rem;
      //   width: 125px;
      //   height: 50px;
      //   border-radius: 15px;
      //   border: none;
      //   outline: none;
      //   background: snow;
      //   font-weight: 700;
      //   font-family: $font;
      //   font-size: 1rem;
      //   @media (max-width: 967px) {
      //     width: 100px;
      //     font-size: 0.875rem;
      //   }
      //   .prev-arrow {
      //     margin-right: 0.5rem;
      //   }
      //   .next-arrow {
      //     margin-left: 0.5rem;
      //   }
      // }
      button {
        position: fixed;
        top: 50%;
        cursor: pointer;
        margin: 0 1rem;
        width: 125px;
        height: 50px;
        border-radius: 15px;
        border: none;
        outline: none;
        background: snow;
        font-weight: 700;
        font-family: $font;
        font-size: 1rem;
        @media (max-width: 967px) {
          top: unset;
          bottom: 5%;
          width: 100px;
          font-size: 0.875rem;
        }
      }
      .previous-btn {
        left: 5%;
        .prev-arrow {
          margin-right: 0.5rem;
        }
      }
      .next-btn {
        right: 5%;
        .next-arrow {
          margin-left: 0.5rem;
        }
      }
    }
    .bottom-links {
      .project-btn {
        cursor: pointer;
        margin: 0 1rem;
        width: 125px;
        height: 50px;
        border-radius: 15px;
        border: none;
        outline: none;
        background: snow;
        font-weight: 700;
        font-family: $font;
        font-size: 1rem;
        @media (max-width: 967px) {
          width: 100px;
          font-size: 0.875rem;
        }
      }
      .project-back {
        text-align: center;
        color: $white;
        font-family: $font;
        margin: 2rem auto;
        cursor: pointer;
      }
    }
  }
}
