@import "./variables.module.scss";

.projectListing {
  position: relative;
  width: 100%;
  .projectItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    .projectInfo {
      font-family: $font;
      text-align: left;
      color: $white;
      @media (min-width: 768px) {
        max-width: 300px;
      }
      .toolsList {
        list-style-type: disc;
        columns: 2;
        padding-left: 1.5rem;
        line-height: 20px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-family: $font;
        @media (min-width: 768px) {
          margin-bottom: 1.5rem;
        }
        li {
          font-size: 0.875rem;
          @media (max-height: 750px) {
            font-size: 0.875rem;
          }
        }
      }
      a {
        display: block;
        color: $white;
        text-decoration: none;
        h2 {
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: bold;
          margin: 0;
          @media (min-width: 768px) {
            font-size: 2rem;
          }
          @media (max-height: 800px) {
            font-size: 1.6rem;
          }
        }
      }
      h3 {
        font-size: 1rem;
        margin-top: 1.5rem;
        font-weight: bold;
        @media (min-width: 768px) {
          font-size: 1.25rem;
        }
      }
      p {
        margin: 1rem 0 0.5rem 0;
        line-height: 20px;
        font-size: 0.875rem;
        font-weight: 300;
        @media (min-width: 768px) {
          font-size: 1rem;
          line-height: 24px;
        }
        @media (max-height: 800px) {
          font-size: 0.875rem;
          line-height: 20px;
        }
      }
      .projectReadMore {
        display: flex;
        align-items: center;
        background: none;
        outline: none;
        border: none;
        color: white;
        font-family: $font;
        font-weight: bold;
        margin: 0;
        padding: 0;
        cursor: pointer;
        svg {
          transition: transform 0.3s ease;
          display: block;
          margin-top: 0.1rem;
          margin-left: 0.25rem;
        }
        &:hover {
          svg {
            transform: translateX(2px);
          }
        }
      }
      .projectBtns {
        display: flex;
        gap: 1rem;
        justify-content: center;
        @media (min-width: 768px) {
          justify-content: start;
        }
        .projectBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          padding: 0;
          width: 100%;
          height: 50px;
          border-radius: 15px;
          border: none;
          outline: none;
          color: $black;
          background: snow;
          font-weight: 700;
          font-family: $font;
          font-size: 0.875rem;
          transition: 150ms transform ease;
          will-change: transform;
          @media (min-width: 768px) {
            font-size: 1rem;
          }
          &:hover,
          &:focus {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
    a {
      display: block;
      width: 100%;
      .projectImage {
        display: block;
        aspect-ratio: 16 / 9;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 2.8px 2.2px rgba(211, 211, 211, 0.02),
          0 6.7px 5.3px rgba(211, 211, 211, 0.028),
          0 12.5px 10px rgba(211, 211, 211, 0.035),
          0 22.3px 17.9px rgba(211, 211, 211, 0.042),
          0 41.8px 33.4px rgba(211, 211, 211, 0.05),
          0 100px 80px rgba(211, 211, 211, 0.07);
        &:hover,
        &:focus {
          box-shadow: 0 0 0 4px $black, 0 0 0 8px white,
            0 2.8px 2.2px rgba(256, 256, 256, 0.02),
            0 6.7px 5.3px rgba(256, 256, 256, 0.028),
            0 12.5px 10px rgba(256, 256, 256, 0.035),
            0 22.3px 17.9px rgba(256, 256, 256, 0.042),
            0 41.8px 33.4px rgba(256, 256, 256, 0.05),
            0 100px 80px rgba(256, 256, 256, 0.07);
        }
      }
    }
  }
}
